@{
    ViewBag.Title = "Home Page";
}
<h1>Welcone to MyCourse!</h1>
<div class="jumbotron">
    <h5 class="lead">Please login to access your MyCourse account.</h5>
    <p>If you do not havce an account, you can register using the link above.<p>
</div>
